body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 300px;
}
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
h1 .title-icon {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}
label {
  display: block;
  margin: 8px 0;
}